@import '../../../variables.scss';
@import '../../../mixins.scss';
@import '../../../common.scss';

.items-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;

  .side-menu__item--active & {
    display: flex;
  }

  .bdays-list {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      justify-content: space-between;
      flex-shrink: 0;
      height: $indXL;
      padding: 0 $indM;
      font-size: $fontM;
      text-align: left;
      transition: color $transDuration;
      color: fade-out($sideMenuTextClr, .5);
      border-left: 3px solid transparent;

      &:hover,
      &:focus,
      &--active {
        color: $sideMenuTextClr;
        border-left: 3px solid #10b1df;
        background: linear-gradient(to right, rgba(127, 142, 218, 0.2), transparent);
        /*color: #FFF;*/
  		}
    }

    &__item-wrapper {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    &__item-name {
      @include truncate;
    }

    &__item-age,
    &__item-date {
      font-size: $fontXS;
    }
  }
}
