<div class="items-box" *ngFor="let contact of contacts">
  <div class="bdays-list">
    <button class="bdays-list__item"
            routerLink="/contact-full-view/{{contact.id}}"
            routerLinkActive="bdays-list__item--active">
        <div class="bdays-list__item-wrapper">
            <span class="bdays-list__item-name">{{contact.name}} {{contact.surname}}</span>
            <span class="bdays-list__item-age">29 years</span>
        </div>
        <div class="bdays-list__item-date">{{contact.birthday}}</div>
    </button>
  </div>
</div>
