<!-- Create contact -->
<section class="create-contact">
  <button class="create-contact__button" routerLink="/contact-form">
    <div class="create-contact__icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42">
          <path fill="currentColor" d="M42 20H22V0h-2v20H0v2h20v20h2V22h20z"/>
      </svg>
    </div>

    <span class="create-contact__text" routerLink="/contact-form">New Contact</span>
  </button>
</section>
