<div class="cover">
  <div class="wrapper">
    <input #username
      type="text" placeholder="user">
    <input #password
      type="password" placeholder="password">
    <div *ngIf="error"
      class="error">
      {{error}}
    </div>
    <button (click)="login(username.value, password.value)">
      Sign in
    </button>
  </div>
</div>

