.error {
	color: red;
	font-size: .8em;
}
.cover {
  background-size: cover;
  background-position: center center;
  background-image: url(/assets/img/220021975.jpg);
  width: 100vw;
  height: 100vh;

  .wrapper {
    width: 300px;
    padding: 30px;
    background: rgba(49, 75, 65, .95);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    input{
      color: #FFF;
      margin: 10px;
      &::placeholder {
        color: #FFF;
      }
    }

    button {
      margin: 10px;
      float: right;
      background: #FFF;
      padding: 4px 8px;
      border-radius: 50%;
      height: 57px;
      width: 57px;
      color: #000;
    }
  }
}
