@import '../../variables.scss';
@import '../../mixins.scss';
@import '../../common.scss';

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: $sidebarWidth;
	padding: $indM 0 0;
	transition: transform $transDuration;
	background: linear-gradient(to bottom, $sidebarBgClr, lighten($sidebarBgClr, 20%));

	@media ($mdDevice) {
		padding-top: $indS;
		transform: translateX(-100%);

		&--active {
			transform: translateX(0);
		}
	}

	&__title {
		flex-shrink: 0;
		margin: 0;
		font-size: $fontL;
		line-height: 1;
		font-weight: 500;
		color: $sidebarTextClr;
		text-align: center;

		@media ($mdDevice) {
			display: none;
		}
	}

	.mobile-menu {
		@include mobileBtn(fade-out($sidebarTextClr, .5), $sidebarTextClr);
		margin-left: $indM;
	}

    h1:hover {
        cursor: pointer;
    }
}

.side-menu {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0;
	margin: $indM 0 0;

	.items-box {
    overflow: hidden;
	}

	.hide {
		height: 0;
	}

	&__item {
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			margin-bottom: $indS;
		}

		.side-menu__item--active & {
			flex-grow: 1;
		}
	}

	&__item-button {
		flex-shrink: 0;
		width: 100%;
		padding: 0 $indM $indS;
		font-size: $fontXS;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		text-align: left;
		transition: color $transDuration;
		color: fade-out($sideMenuTextClr, .5);

		&:hover,
		&:focus,
		.side-menu__item--active & {
			color: $sideMenuBtnClr;
		}
	}
}
