<!-- Sidebar -->
<aside class="sidebar">
  <!-- Close mobile menu button -->
  <button class="mobile-menu mobile-menu--close">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
				<path fill="currentColor" d="M28.941 31.786L.613 60.114c-.787.787-.787 2.062 0 2.849.393.394.909.59 1.424.59.516 0 1.031-.196 1.424-.59l28.541-28.541 28.541 28.541c.394.394.909.59 1.424.59.515 0 1.031-.196 1.424-.59.787-.787.787-2.062 0-2.849L35.064 31.786 63.41 3.438c.787-.787.787-2.062 0-2.849-.787-.786-2.062-.786-2.848 0L32.003 29.15 3.441.59C2.654-.196 1.38-.196.593.59c-.787.787-.787 2.062 0 2.849l28.348 28.347z"/>
			</svg>
		</button>

  <!-- Sidebar title -->
  <h1 class="sidebar__title" (click)="gotoRoot()">Contact book</h1>

  <app-side-user></app-side-user>

  <app-search></app-search>

  <!-- Side menu -->
  <menu class="side-menu">
    <li class="side-menu__item"
      [ngClass]="{'side-menu__item--active' : groupsHide === false}">
      <button class="side-menu__item-button"
        (click)="groupsHide=!groupsHide">
        categories
      </button>

      <div class="items-box"
        [ngClass]="{hide: groupsHide === true}">
        <app-side-menu></app-side-menu>
      </div>
    </li>

    <li class="side-menu__item"
      [ngClass]="{'side-menu__item--active' : bdaysHide === false}">
      <button class="side-menu__item-button"
        (click)="bdaysHide=!bdaysHide">
        upcoming birthday
      </button>
      <div class="items-box"
        [ngClass]="{hide: bdaysHide === true}">
        <app-b-day-list></app-b-day-list>
      </div>
    </li>
  </menu>

  <app-create-contact></app-create-contact>
</aside>
