<div class="groups-list">
  <button class="groups-list__item"
    *ngFor="let group of groups"
    routerLink="/contacts/{{group.id}}"
    routerLinkActive="groups-list__item--active">
    {{group.title}}
  </button>
</div>
