<!-- Add/Edit contact form -->
<form class="contact-form">
  <button class="contact-form__close-button"
    (click)="goBack($event)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42">
      <path fill="currentColor" d="M42 20H22V0h-2v20H0v2h20v20h2V22h20z"/>
    </svg>
  </button>

  <section class="contact-form__fields-box">
    <section class="contact-form__main-info">
      <label class="contact-form__label contact-form__label--file">
          <input type="file" class="contact-form__input">
      </label>

      <section class="contact-form__main-info-wrapper">
        <label class="contact-form__label contact-form__label--half">
          <span class="contact-form__label-text">Name</span>
          <input type="text" class="contact-form__input">
        </label>

        <label class="contact-form__label contact-form__label--half">
          <span class="contact-form__label-text">Surname</span>
          <input type="text" class="contact-form__input">
        </label>

        <label class="contact-form__label">
          <span class="contact-form__label-text">Description</span>
          <textarea class="contact-form__textarea" rows="2"></textarea>
        </label>
      </section>
    </section>

    <label class="contact-form__label">
      <span class="contact-form__label-text">Phone</span>
      <input type="tel" class="contact-form__input">
    </label>

    <label class="contact-form__label">
      <span class="contact-form__label-text">Email</span>
      <input type="email" class="contact-form__input">
    </label>

    <label class="contact-form__label">
      <span class="contact-form__label-text">Birth day</span>
      <input type="text" class="contact-form__input">
    </label>

    <label class="contact-form__label">
      <span class="contact-form__label-text">Information</span>
      <textarea class="contact-form__textarea" rows="5"></textarea>
    </label>

    <label class="contact-form__label">
      <span class="contact-form__label-text">Instagram</span>
      <input type="tel" class="contact-form__input">
    </label>

    <label class="contact-form__label">
      <span class="contact-form__label-text">Facebook</span>
      <input type="tel" class="contact-form__input">
    </label>
  </section>

  <div class="contact-form__buttons-box">
    <button class="contact-form__button contact-form__button--main">Save changes</button>
    <button class="contact-form__button contact-form__button--second">Delete contact</button>
  </div>
</form>
