@import '../../../variables.scss';
@import '../../../mixins.scss';
@import '../../../common.scss';

.contacts {
	display: flex;
	flex-wrap: wrap;
	margin: $indM $indXL;

	@media ($lgDevice) {
		margin: $indM;
	}

	@media ($smDevice) {
		margin: $indS;
	}
}
